# dependencies
node_modules

# build output
dist
out
.output
.vinxi

# temporary directories
tmp
.DS_Store

# Environment
POSTGRES_PASSWORD
.env
.env.*
!.env.example

# Python
.venv

*.egg-info/
__pycache__